.header-container{
    display: flex;
    margin: 20px 90px;
    justify-content: space-between;
    background-color: #F6F6F6;
}

.header-logo-container{
    align-self: center;
}

.header-navbar-container{
    align-self: center;
}

.header-shop-container{
    align-self: center;
}